@import "../../_var";

.base-form {
    label {
        display: block;
        margin-top: 30px;
        //margin-bottom: 30px;
        position: relative;

        > span:not(.select2) {
            .transit();
            font-size: 16px;
            margin-right: 10px;
            flex-shrink: 0;
            position: absolute;
            z-index: 2;
            color: @whiteColor;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        input,
        textarea {
            border-radius: 5px;
            outline: none;
            border: none;
            background: @whiteColor;
            padding: 5px 40px 5px 10px;
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            background: lighten(@darkColor, 20%);
            color: @whiteColor;
            font: 400 16px "PT Serif", sans-serif;
            resize: none;

            &::placeholder {
                opacity: .7;
            }

            &:focus:not([type='checkbox']) + span:not(.select2),
            &.filled:not([type='checkbox']) + span:not(.select2) {
                top: 0;
                font-size: 14px;
            }

            &[type='checkbox'] {
                display: none;

                + span {
                    position: relative;
                    left: 0;

                    &:before {
                        .pseudo();
                        width: 26px;
                        height: 26px;
                        border: 1px solid @orange;
                        left: 100%;
                        top: 50%;
                        transform: translate(10px, -50%);
                        border-radius: 5px;
                    }

                    &:after {
                        .pseudo();
                        .transit();
                        .icon('checkbox.svg', 26px, 26px);
                        left: 100%;
                        top: 50%;
                        transform: translate(10px, -50%) scaleX(.1);
                        opacity: 0;
                        transform-origin: center;
                    }
                }

                &:checked + span {
                    &:after {
                        transform: translate(10px, -50%) scaleX(1);
                        opacity: 1;
                    }
                }
            }
        }

        textarea {
            padding-top: 10px;
            max-height: 70vh;
        }

        .error {
            position: absolute;
            top: 50%;
            left: calc(100% - 30px);
            width: 20px;
            height: 20px;
            cursor: pointer;

            &:before {
                position: absolute;
                content: '!';
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background: red;
                font-size: 18px;
                font-weight: bold;
                width: 20px;
                height: 20px;
                line-height: 20px;
                vertical-align: middle;
                border-radius: 50%;
                text-align: center;
            }
        }
    }

    .btn-wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .restore {
        .underline();
        margin-top: 20px;
        //align-self: flex-end;
    }
}